@import '~antd/dist/antd.css';
div {
  height: 100%;
}
.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-inline {
  background-color: rgba(33, 141, 197, 0.42);
}

.mainDiv {
  background-color: rgba(33, 141, 197, 0.42);
  min-height: 100%;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}


.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}
